* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styling */
body {
  height: 100vh;
  width: 100%;
  background: #fff;
}

/* Scoreboard */
#scoreboard {
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

#scoreboard h1 {
  padding: 1rem;
  font-size: 2rem;
  align-self: center;
}

#game-stats {
  display: flex;
  align-self: center;
}

#game-stats p {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
}

#newgame {
   font-size: 1.2rem;
   font-weight: bold;
   padding: 1rem;
   margin: 1rem;
   color: #333;
   background: #fff;
   border: none;
}

#newgame:hover {
  background: green;
  color: #fff;
  cursor: pointer;
}

/* Section: Game */
#game {
  height: 90.5vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Shapes */
.square {
  position: absolute;
  height: 100px;
  width: 100px;
  background: red;
}